body {
  margin: 0 10%;
  font-family: sans-serif;
  background-color: #9bcde6;
}

.content {
  background-color: #fff;
  padding: 2%;
  float: left;
  border-radius: 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #b0b0b0;
  letter-spacing: 1.5px;
}

h2 {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1.3px;
  color: #a5c16d;
  font-size: 32px;
  text-align: center;
}

img {
  width: 85%;
  border-radius: 100%;
  border: solid 4px #a5c16d;
}

.animals {
  float: left;
  width: 30%;
  padding: 2%;
  margin-right: 15px;
}

.animals p {
  margin-bottom: 45px;
}

.side-bar {
  background-color: #a5c16d;
  border-radius: 15px;
  color: white;
  width: 25%;
  margin: 2px;
  padding: 15px;
  padding-bottom: 55%;
}

.side-bar h3 {
  font-size: 28px;
  text-shadow: 1.5px 1.5px #88a057;
}

.side-bar p {
  font-size: 20px;
  letter-spacing: 1.2px;
}
